/*------------------------------------------------------------------
Project:	Portfolio
Version:	0.0
Last change:	13.10.2019
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
01. General Styles
02. Magic Cursor
03. Page Preloader
04. Responsive Media Queries
-------------------------------------------------------------------*/

/*--------------------------------------------------
	01. General Styles
---------------------------------------------------*/
html {
  font-family: 'Dosis', sans-serif;
}

body {
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
  overflow-y:scroll;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
}

body.smooth-scroll {
  overflow:hidden;
}

body.hidden {
  opacity:0;
}

.audio {
  font-family: 'Dosis', sans-serif;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
  font-weight: 700;
  font-size: 3vh;
}

.central {
  text-align: center;
  background-position: center;
}

.btn-primary{
  background-color: #06a0fd;
}

.container {
  width: 100vw;
  height: 100vh;
}

.clear {
	clear: both;
}

.percentage {
  z-index: 99999999999;
  color: #0C2C56;
  opacity:1;
  font-weight: 700;
  font-size: 12vh;
}

.personal {
  display: inline-block;
  height: 80vh;
  width: 100%;
  background: url(images/main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  -webkit-clip-path: polygon(44% 0, 100% 5%, 97% 100%, 3% 97%, 0 4%);
  clip-path: polygon(44% 0, 100% 5%, 97% 100%, 3% 97%, 0 4%);
}

.rightButton {
  display: inline-block;
  cursor: pointer;
  height: 80vh;
  width: 100%;
  background: #0C2C56; /*azul claro*/
  -webkit-clip-path: polygon(36% 0, 97% 6%, 100% 91%, 63% 100%, 0 93%, 2% 8%);
  clip-path: polygon(36% 0, 97% 6%, 100% 91%, 63% 100%, 0 93%, 2% 8%);
}

.leftButton {
  display: inline-block;
  cursor: pointer;
  height: 80vh;
  width: 100%;
  background: #06417D; /*blue*/
  -webkit-clip-path: polygon(30% 3%, 80% 0%, 93% 23%, 100% 65%, 83% 98%, 38% 100%, 4% 85%, 0 33%);
  clip-path: polygon(30% 3%, 80% 0%, 93% 23%, 100% 65%, 83% 98%, 38% 100%, 4% 85%, 0 33%);;
}

.bottomButton {
  display: inline;
  width: 50vw;
  height: 20vh;
  font-size: 10vh;
  text-align: center;
}

.floatContainer {
    text-align: center;
    display: inline-block;
}

.floatContainer > .nameFloat{
  font-size: 5vh;
  text-align: center;
}

.floatContainer > a {
  font-size: 5vh;
  text-align: center;
}

i {
  text-align: center;
  margin-right: 5%;
  color: #00122C
}

.leftButton p {
  font-size: 25vh;
  display: block;
  color: #fff;
  transform: matrix(0.1, -0.5, 0.5, 0.1, -10, 200);
}

.rightButton p {
  display: block;
  font-size: 25vh;
  color: #fff;
  transform: matrix(0.1, -0.5, 0.5, 0.1, -5, 200);
}

/*--------------------------------------------------
	02. Magic cursor
---------------------------------------------------*/

#magic-cursor {
  position: absolute;
  left:0;
  top:0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index:10000;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

.hidden-ball #magic-cursor {
	opacity:0!important;
}

#ball {
	position: relative;
	transform: translate(50%, 50%);
	width: 30px;
	height: 30px;
	border: 3px solid #7f99b1;
	border-radius: 50%;
	pointer-events: none;
	opacity:0.7;
	box-sizing:border-box;
}

/*--------------------------------------------------
	03. Page preloader
---------------------------------------------------*/
.preloader-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #fff;
  z-index : 99999999;
}

.headphones {
  width: 12vw;
  height: 20vh;
  background-image:url(images/guitar.gif);
  background-repeat: no-repeat;
  background-size: 20vh;
  z-index : 1;
}

.headphones:before {
  content:"(";
  font-size: 10vh;
  position:relative;
  z-index: 99999;
  font-weight:700;
  color:#000;
  -webkit-animation: movebefore 2s ease-out infinite;
  animation: movebefore 2s ease-out infinite;

}

@keyframes movebefore {
  0% {
  left:-4vw;
  opacity:1;
  }

  100% {
  left:-8vw;
  opacity:0
  }
}

.headphones:after {
  content:")";
  font-size: 10vh;
  z-index: 99999;
  position:relative;
  font-weight:700;
  color:#000;
  -webkit-animation: moveafter 2s ease-out infinite;
  animation: moveafter 2s ease-out infinite;

}

@keyframes moveafter {
  0% {
  right:-4vw;
  opacity:1;
  }

  100% {
  right:-8vw;
  opacity:0
  }
}

.headphones-text{
  color: #000;
  font-size: 6vh;
}
